<!-- eslint-disable max-len -->
<template>
  <v-container class="pa-0 ma-0">
    <VSkeletonLoader />
    <h1>Chat Page</h1>
    <MyComponent
      :items="items"
      @itemClick="handleClick"
    />
  </v-container>
</template>

<script lang='ts'>
/* eslint-disable */ 
import { defineComponent, ref } from 'vue';
import { VSkeletonLoader } from 'vuetify/labs/VSkeletonLoader';
import MyComponent from '@/components/MyComponent.vue';

export default defineComponent({
  name: 'ShopPage',
  components: {
    VSkeletonLoader,
    MyComponent,
  },
  setup() {
    const items = ref<Array<string>>([
      'hello', 'world'
    ]);

    async function handleClick(text: string) {
      console.log(text);
      alert(text);
    }

    return {
      items,
      handleClick,
    };
  },
});
</script>
<!-- eslint-disable max-len -->
<style scoped lang="scss">
</style>
