<template>
  <v-container class="ma-0 pa-0">
    <!-- Main -->
    <v-main>
      <v-row justify="center" align-content="space-between">
        <v-col cols='12'>
          <router-view />
        </v-col>
      </v-row>
    </v-main>
  </v-container>
</template>

<script lang='ts'>
import { defineComponent } from 'vue';
import { useDisplay } from 'vuetify';

export default defineComponent({
  name: 'HomePage',
  setup() {
    const { name } = useDisplay();

    return {
      name,
    };
  },
});
</script>
