<!-- eslint-disable max-len -->
<template>
  <v-container>
    <li v-for="item in items" :key="item">
      {{ item }}
      <v-btn
        small
        text
        @click="$emit('itemClick', item)"
      >
        Click!
      </v-btn>
    </li>
  </v-container>
</template>

<script lang='ts'>
import { defineComponent, PropType, ref } from 'vue';
import { useDisplay } from 'vuetify';

export default defineComponent({
  name: 'MyComponent',
  props: {
    items: Array as PropType<Array<string>>,
  },
  emits: ['itemClick'],
  setup() {
    const { name } = useDisplay();
    const selection = ref([]);

    return {
      name,
      selection,
    };
  },
});
</script>
<style scoped></style>
