<template>
  <v-app>
    <router-view />
  </v-app>
</template>

<script lang="ts">
/* eslint-disable */
import { defineComponent, onMounted} from "vue";

export default defineComponent({
  name: "App",
  components: {},
  setup() {
    const title = 'VueJS Template';

    onMounted(() => {
      document.title = title;
    });
  },
});
</script>

<style lang="scss">
@import "@/assets/main.scss";
</style>
